nav {
  display: flex;
  align-items: center;
  background-color: #9e2925;
  height: 100px;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 75px;
}

.company-name {
  color: white;
  font-weight: 500;
  margin-left: 18px;
  font-size: 30px;
}