nav {
  display: flex;
  align-items: center;
  background-color: #9e2925;
  height: 90px;
}

p {
  margin: 0;
}

input {
  margin-bottom: 15px;
  padding: 3px;
  width: 338px;
}

img {
  height: 250px;
  width: 348px;
}

button {
  width: 136px;
  padding: 5px 15px;
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 75px;
}

.company-name {
  color: white;
  font-weight: 500;
  margin-left: 18px;
  font-size: 30px;
}

.app {
  display: flex;
}

.column-wrap {
  padding: 15px 0 0 75px; 
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.form-wrap {}

.form-container {
  padding: 20px;
  width: 348px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
}

.imgurl {
  text-overflow: ellipsis;
  border: 1px solid #c4c4c4;
  height: 250px;
}

.imgurl-wrap {
  min-width: 350px;
  height: 250px;
  margin-bottom: 10px; 
}

.dashboard {
  min-width: 410px;
  height: 720px;
  overflow: scroll;
  overflow-x: hidden;
  justify-content: center;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.product-group {
  width: 350px;
  margin: 20px 0;
}

.name-price {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.test-product-btn {
  margin: 15px;
}