nav {
  display: flex;
  align-items: center;
  background-color: #9e2925;
  height: 100px;
}

p {
  margin: 0;
}

input {
  margin-bottom: 15px;
}

button {
  width: 120px;
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 75px;
}

.company-name {
  color: white;
  font-weight: 500;
  margin-left: 18px;
  font-size: 30px;
}

.app {
  display: flex;
}

.body-wrap {
  padding: 15px 0 0 75px; 
  display: flex;
  justify-content: space-around;
}

.imgurl {
  text-overflow: ellipsis;
}

.dashboard {
  width: 670px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}